$red01: red;
$green02: green;
$border1px: 1px;
$blue03: blue;
$padding: 15px;
@mixin title () {
    color: $green02;
    border-bottom: 1px solid blue
}

@mixin article ($color, $border-color, $font-size) {
    color: $color;
    border: 1px solid;
    border-color: $border-color;
    font-size: $font-size;
    padding: 15px;
}

div {
    border: 1px solid $red01;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding;
    display: flex;
    flex-direction: column;
    gap: 15px;
    h1 {
        @include title;
    }
    section {
        display: flex;
        .art01,
        .art03 {
            @include article($blue03, $green02, 15px)
        }
        .art02,
        .art04 {
            @include article($red01, $green02, 15px)
        }
        .art05 {
            @include article($green02, $blue03, 24px)
        }
    }
}